<html>
<head>
	.wrapper {
	display: flexbox;
	}
</head>
<body>
	<form action="{% url'add_employee' %}">
		<label for="">Usename:<input type="text" name='username'></label>
		<label for="">Email:<input type="email" name='email'></label>
		<label for="">password:<input type="password" name='password'></label>
		<label for="">organisation:
			<select name="org">
				{% for org in orgs %}<option value="{{org.pk}}">{{org.name}}</option>{%endfor%}
			</select>
		</label>
		<button type="submit">Send</button>
	</form>
</body>
</html>